h1{
    color: #00ffff;
    
    display: flex;
    justify-content: center;
    text-align: center;
    text-decoration: underline;
     
    background-color:#181818;
}
h2{
    color: #8a2be2;
    
}
.boder{
     
    display: flex;
    justify-content:space-between ;
}
.everything{
    display: flex;
    justify-content: space-between;
 
}
.camel{
    background-color: grey;
}
.pigeon{
    background-color: red;
   
}
.rooster{
    background-color: grey;  
}